@import '/src/Types/Type.css';

.prod_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  /* height: 650px; */
  border: 10px solid var(--black);
  border-radius: 25px;
  background-color: var(--white);
  margin-bottom: 20px;
  /* margin: 0 30px 30px 30px; */
  padding: 8px 13px 8px 13px;

}

.Prod_site {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.site {
  display: flex;
  padding-top: 110px;
  flex-direction: column;
}

.rate img {
  width: 25px;
  height: 25px;
}

.Prod_price {
  color: var(--red);
  font-size: 35px;
  margin: 10px;
  font-weight: 700;
  text-decoration: underline;
}

.price {
  color: var(--red);
  font-size: 35px;
  margin: 10px;
  font-weight: 700;
  text-decoration: underline;
}

.rate {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.Prod_info {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  font-size: 25px;
  text-align: center;
  color: var(--black);
  opacity: 85%;
  font-style: italic;
}

.Prod_Name {
  text-align: center;
  align-content: center;
  color: var(--black);
}

.Prod_Name>h1 {
  opacity: 1;
}

.info {
  background: var(--red);
  border-bottom-right-radius: 8px;
  opacity: 95%;
}

.Prod_img {
  display: flex;
  justify-content: center;

}

.Prod_img img {
  border: 5px solid var(--red);
  border-radius: 17px;
  width: 80%;
  height: 35dvh;
  padding: 0;
  cursor: pointer;
}


.btn {
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;
  opacity: 90%;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: var(--red);
}

.btn>h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 20px;
  color: var(--black);
  z-index: 1;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:before {
  -webkit-font-smoothing: antialiased;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 3;
  width: 60px;
  transition: .4s;
}

.sep {
  padding: 15px 60px 20px 120px;
}

.sep:before {
  background: rgba(0, 0, 0, 0.15);
}

.btn:focus:before {
  width: 100%;
}

.btn:active {
  top: 2px;
}

.btn:hover {
  background: var(--red);
  opacity: 1;

}

.cart:before {
  background: url([url]../../../../Source/Cart.png);
  padding-right: 5px;
  background-color: #a13232;
  background-repeat: no-repeat;
  background-size: 65px 65px;
  content: "";
  border-radius: 25px;
}

.product_card {
  width: 60%;
  padding: 10% 0 0;
  margin: auto;

}

.card {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.4fr 0.2fr; */
  gap: 0px 0px;
  grid-template-areas:
    "name name name"
    "img info info"
    "discription discription discription"
    "button button button";
  position: relative;
  z-index: 1;
  background: var(--white);
  max-width: 100%;
  /* margin: 0 auto 100px; */
  padding: 0 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  vertical-align: middle;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

.Product_img>img {
  width: 400px;
  height: 500px;
  border: 5px solid var(--red);
  border-radius: 20px;
}

.Product_Name {
  grid-area: name;
  font-size: 15px;
  margin-bottom: 15px;
}

.Product_img {
  grid-area: img;
}

.Product_info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin: 0 0 0 20px;
  text-align: start;
}

.Product_category {
  font-size: 20px;
}

.rateCount {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
  font-size: 40px;
  text-align: start;
}

.product_rate>img {
  width: 10%;
  height: auto;
  padding-right: 5px;
}

.product_rate {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  grid-area: discription;
  text-wrap: balance;
  margin-top: 20px;
  color: var(--black);
  font-size: 20px;
}

.product_button {
  grid-area: button;
}

.product_button>button {
  width: 70%;
  height: 70%;
  margin-top: 40px;
}

.pgntn {
  width: 100px;
  height: 50px;
  color: var(--black);
}

.pagination {
  margin-left: 42px;

}

.pgntn:disabled {
  opacity: 50%;
}

.pgntn:disabled:active {
  top: 0;
}


@media (max-width:1024px) {
  .Product_img>img {
    width: 300px;
    height: 400px;
  }

  .btn {

    opacity: 1;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .pgntn {
    width: 40%;
  }

  .Prod_site {
    flex-direction: column;
    align-items: center;
  }

  .prod_card {
    width: 80%;
    margin: 0 0 20px 0;
  }

  .site {
    padding-top: 270px;
  }

  .cart {
    width: 80%;

  }

  .product_card {
    width: 80%;
    padding: 25% 0 0;
  }

  .Product_category {
    font-size: 20px;
  }

  .rateCount {
    font-size: 30px;
  }

}

@media (max-width:768px) {
  .Product_img>img {
    width: 250px;
    height: 350px;
  }

  .Prod_img>img {
    width: 70dvw;
  }

  .site {
    padding-top: 280px;
  }

  .rateCount {
    font-size: 20px;
  }

  .Product_category {
    font-size: 15px;
  }

  .product_button>button {
    margin: 0;
    height: 100%;
  }

  .price {
    font-size: 25px;
    margin: 0;
  }

  .Prod_info {
    width: 100%;
  }

  .Prod_img>img {
    height: 30dvh;
  }
}

@media (max-width:540px) {
  .Product_img>img {
    width: 150px;
    height: 200px;

  }

  .site {
    padding-top: 180px;
  }

  .Prod_img>img {
    height: 25dvh;
  }

  .Product_info,
  .Prod_info {
    margin-left: 7px;

  }

  .rateCount {
    font-size: 13px;
    margin: 0;
  }

  .Product_category {
    font-size: 8px;
  }

  .price {
    font-size: 15px;
    margin-left: 0;
  }

  .Product_Name {
    font-size: 7px;
  }

  .Prod_Name {
    font-size: 12px;
  }

  .product_card {
    width: 80%;
    padding: 30% 0 0;
  }

  .product_card>h1 {
    font-size: 20px;

  }

  .description {
    font-size: 15px;
  }

  .card {
    padding: 0 10px;
  }

  .product_button>button {
    width: 100%;

  }

  .product_button {
    margin: 10px;
  }

  /* .btn>h1{
  font-size: 12px;
  } */
  .sep {
    width: 100%;
  }

}